/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background: linear-gradient(to right, #6600cc, #0066cc);
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

/* Header Styles */
.header {
    height: 24vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.header-content {
    padding: 20px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.header p {
    font-size: 1.75rem;
    font-weight: 300;
    margin-top: 0.4rem;
}

/* Link Styles */
a {
    color: #8adaff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #c892ff;
    text-decoration: underline;
}

/* Project Sections and Skills Section */
.project-section, .skills {
    background: #000000b9;
    padding: 10px 20px 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
}

.project-section h2, .skills h2 {
    color: #ffffff;
    font-size: 24px;
    background-color: #000000b9;
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    top: -63px;
    left: 0px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.skills {
    text-align: center;
}

.skills img {
    margin: 5px;
}

.project-item {
    margin-top: 15px;
    position: relative;
}

.project-item h3 {
    color: #ffffff;
    margin-bottom: 15px;
}

.project-item ul {
    margin-top: 5px;
}

.project-item summary {
    text-align: left;
    margin-left: 15px;
    cursor: pointer;
    color: #969c9e;
    font-style: italic;
}

.project-item details[open] summary {
    margin-bottom: 20px;
}

.project-item details img {
    max-width: 80%;
    height: auto;
    display: block;
    margin-top: 10px;
}
/* Responsive Design */
@media(max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }
   
    .project-section h2, .skills h2 {
        font-size: 20px;
    }
    
    .project-section, .skills {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}